<!DOCTYPE html>
<html lang="ru">

<head>
    <title>{% block title %}Мой сайт{% endblock %}</title>
    </title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="stylesheet" href="/myproject/static/movies/css/footer.css">
</head>

<body>
    <footer>
        <div class="container">
            <a class="text-decoration-none text-reset" href="https://krasivosti.pro/obezjany/11935-obezjana-v-ochkah.html">Изображения макак</a> 
            <p>Все права защищены</p>
          <a class="text-decoration-none text-reset" href="#">Политика конфедициальности</a>
        </div>
    
    </footer>
</body>